@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap');
$theme-font: 'Lato', sans-serif;
$theme-color: #2F2E2E;
$link-color: #ff9898;
$bcolor: #000000;
$wcolor: #ffffff;
$gcolor:#808080;
$grcolor:#41a30d;
$glcolor:#ebbc00;
$black-opacity: rgba($bcolor, 0.3);

